@use 'variables' as *;

@mixin backgroundImage($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin primaryText {
    font-family: $font-bellefair;
    font-weight: 400;
    color: $white;
}

@mixin secondaryText {
    font-family: $font-barlow;
    font-weight: 400;
    color: $light-blue;
}

@mixin circle-link($width, $height) {
    width: $width;
    height: $height;
    line-height: $height;
    border-radius: 50%;
    text-align: center;
}

@mixin gridLayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 10vh minmax(auto, 80vh);
}

@mixin btnSize($h, $w) {
    height: $h;
    width: $w;
}