$black: #0b0d17;
$light-blue: #d0d6f9;
$white: #ffffff;
$border: #383B4B;
$link-circle: rgba(255, 255, 255, 0.17);
$pageNumber: rgba(255, 255, 255, 0.25);

$font-bellefair: "Bellefair", serif;
$font-barlow: 'Barlow Condensed', sans-serif;

$fw-normal: 400;
$fw-strong: 700;

// mobile font sizes
$sm-pageName: 1rem;
$sm-bodyText: 0.938rem;
$sm-homeIntro: 1rem;
$sm-homeHeading: 5rem;
$sm-homeBody: 0.938rem;
$sm-homeBtn: 1.25rem;
$sm-subInfoTitle: 0.875rem;
$sm-subInfoText: 1.75rem;
$sm-destinationLink: 0.875rem;
$sm-destinationTitle: 3.5rem;
$sm-crewTitle: 1rem;
$sm-crewName: 1.5rem;
$sm-techTitle: 0.875rem;
$sm-techName: 1.5rem;
$sm-techLink: 1rem;


// tablet font sizes
$md-pageName: 1.25rem;
$md-bodyText: 1rem;
$md-homeIntro: 1.25rem;
$md-homeHeading: 9.375rem;
$md-homeBody: 1rem;
$md-homeBtn: 2rem;
$md-destinationLink: 1rem;
$md-destinationTitle: 5rem;
$md-crewTitle: 1.5rem;
$md-crewName: 2.5rem;
$md-techTitle: 1rem;
$md-techName: 2.5rem;
$md-techLink: 1.5rem;

// desktop font sizes
$lg-pageName: 1.75rem;
$lg-bodyText: 1.125rem;
$lg-homeIntro: 1.75rem;
$lg-homeBody: 1.125rem;
$lg-destinationTitle: 6.25rem;
$lg-crewTitle: 2rem;
$lg-crewName: 3.5rem;
$lg-techName: 3.5rem;
$lg-techLink: 2rem;