@use "../../Sass/Abstracts/" as *;

.mainContainer {
  height: 100%;

  &__infoHolder {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .infoContainer {
      > h3 {
        @include primaryText;
        font-size: 3.5rem;
        font-weight: $fw-normal;
        text-align: center;
      }

      > .mainInfo {
        @include secondaryText;
        text-align: center;
        width: 80%;
        margin: 0 auto;
      }
    }

    &__div {
      width: 80%;
      margin: 0 auto;
      border-top: 1px solid $border;

      .subHeadingHolder {
        text-align: center;

        .subHeading {
          @include secondaryText;
          letter-spacing: 0.15rem;
        }

        .data {
          @include primaryText;
          font-size: 1.8rem;
        }
      }

      #sub1 {
        padding-top: 1.5rem;
      }

      #sub2 {
        padding-top: 1rem;
      }
    }
  }

  &__imgHolder {
    height: 25%;

    &__container {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .mainContainer {
    &__imgHolder {
      height: 35%;

      &__container {
        > img {
          height: 100%;
        }
      }
    }

    &__infoHolder {
      height: 65%;

      &__div1 {
        width: 70%;
        padding-top: 1.5rem;

        > h3 {
          font-size: 5rem;
        }

        > .mainInfo {
          line-height: 1.75rem;
        }
      }

      &__div2 {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin-top: 3rem;
      }
    }

    #sub1,
    #sub2 {
      padding: 2rem 0 1rem 0;
    }
  }
}

@media screen and (min-width: 1280px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;

    &__imgHolder {
        height: 70%;
    }

    &__infoHolder {
      height: 80%;
      align-items: start;
      justify-content: space-between;

      .infoContainer {
        > h3 {
          font-size: 6.25rem;
          color: $white;
          text-align: left;
          line-height: initial;
        }

        .mainInfo {
          font-size: 1.125rem;
          color: $light-blue;
          text-align: left;
          margin: 0;
          line-height: 2rem;
        }
      }

      &__div {
        margin: 0;
        display: flex;
        gap: 5rem;

        .subHeadingHolder {
            text-align: left;
        }
      }
    }
  }
}
