@use '../../Sass/Abstracts/' as *;

.mainContainer {

    display: grid;
    grid-template-rows: 30% 70%;

    &__imgHolder {
        height: 100%;

        > img {
            height: 100%;
        }
    }

    &__infoHolder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &__heading {

            .title {
                @include secondaryText;
                letter-spacing: 0.2rem;
                text-align: center;
                font-size: $sm-techTitle;
            }
        
            .subTitle {
                @include primaryText;
                font-size: $sm-techName;
                text-align: center;
                margin-top: 0.5rem;
                margin-bottom: 1.5rem;
            }
        }

        &__description {
            @include secondaryText;
            font-size: $sm-bodyText;
            padding: 0 2rem;
            text-align: center;
        }    
    }
}


@media screen and (min-width: 768px) {
    
    .mainContainer {
        grid-template-rows: 40% 60%;

        &__infoHolder {

            .title {
                font-size: $md-techTitle;
            }
    
            .subTitle {
                font-size: $md-techName;
            }
    
            &__description {
                line-height: 1.75rem;
                width: 70%;
                margin: 0 auto;
                font-size: $md-bodyText;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    
    .mainContainer {
        grid-template-columns: 60% 40%;
        grid-template-rows: 100%;
        padding: 2rem 0 4rem 0;
        justify-items: end;

        &__imgHolder {
            order: 2;
            display: flex;
            justify-content: flex-end;
        }

        &__infoHolder {
            padding-left: 7rem;
            order: 1;

            display: grid;
            align-content: center;
            justify-items: start;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 6rem);

            &__heading {

                grid-area: 1 / 2 / 2 / 5;

                .title {
                    text-align: left;
                }

                .subTitle {
                    font-size: $lg-techName;
                    text-align: left;
                    margin: 0;
                }
            }

            &__description {
                padding: 0;
                margin: 0;
                text-align: left;
                font-size: $lg-bodyText;
                grid-area: 2 / 2 / 4 / 5;
                align-self: center;
            }
        }
    }
}