@use "../../Sass/Abstracts/" as *;

.homePage {
  @include backgroundImage("../../assets/home/background-home-mobile.jpg");
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 90vh;

  &__subSection {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60% 40%;
    justify-items: center;

    main {
      > p {
        @include secondaryText;
        text-align: center;
        padding: 1rem 1.5rem 0 1.5rem;
        font-size: $sm-bodyText;
      }
    }

    .btnHolder {
      height: 100%;
      display: flex;
      align-items: center;
      
      .circle {
        @include flexCenter;
        @include btnSize(10rem, 10rem);
        background-color: $white;
        font-family: $font-bellefair;
        color: $black;
        border: 0;
        border-radius: 50%;
        letter-spacing: 0.1rem;
        font-size: $sm-homeBtn;
      }
    
      .circleHover {
        outline: 4rem solid rgba($color: $white, $alpha: 0.1);
        cursor: pointer;
      }
    }    
  }
}

@media screen and (min-width: 768px) {
  .homePage {
    @include backgroundImage("../../assets/home/background-home-tablet.jpg");

    &__subSection {

      main {
        width: min-content;
  
        > p {
          line-height: 1.75rem;
          font-size: $md-bodyText;
        }
      }
      
      .btnHolder {
        
        .circle {
          @include btnSize(15rem, 15rem);
          
    
          letter-spacing: 0.125rem;
          font-size: $md-homeBtn;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .homePage {
    @include backgroundImage("../../assets/home/background-home-desktop.jpg");
    grid-template-rows: 15vh 85vh;
    align-items: center;

    &__subSection {

      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
      align-items: center;

      > main {
        padding-left: 8rem;
        margin: 0;
        justify-self: start;

        > p {
          font-size: $lg-bodyText;
          text-align: left;
          padding: 0;
          line-height: 2rem;
        }

      }

      .btnHolder {
        align-items: flex-end;

        .circle {
          margin: 0 0 0 2rem;
          @include btnSize(17rem, 17rem);
        }
      }
      
    }
  }
}
