@use "../../Sass/Abstracts/" as *;

.mainContainer {
    display: grid;
    grid-template-rows: 40% 60%;

    &__imgSection {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid $border;
    }

    &__infoSection {

        display: flex;
        align-items: center;
        flex-direction: column;

        &__bio {
            @include secondaryText;
            font-size: $sm-bodyText;
            text-align: center;
            padding: 1.5rem 2.5rem 0 2.5rem;
        }
        
        &__crewMember {
            @include primaryText;
            font-size: $sm-crewName;
            padding-top: 0.5rem;
        }
    
        > h3 {
            font-family: $font-bellefair;
            font-weight: $fw-normal;
            font-size: $sm-crewTitle;
            color: rgba($color: $white, $alpha: 0.5);
        }
    }

}

@media screen and (min-width: 768px) {
    
    .mainContainer {
        grid-template-rows: 35% 65%;

        &__imgSection {
            border-bottom: none;
            order: 2;
            padding-top: 2rem;
        }

        &__infoSection {
            justify-content: center;
            order: 1;

            &__crewMember {
                order: 2;
                font-size: $md-crewName;
                padding: 0;
            }
    
            &__bio {
                order: 3;
                line-height: 1.75rem;
                width: 70%;
                padding: 0.5rem 0 0 0;
                font-size: $md-bodyText;
            }

            > h3 {
                order: 1;
                font-size: $md-crewTitle;
            }

            > ul {
                order: 4;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    
    .mainContainer {
        grid-template-columns: 60% 40%;
        grid-template-rows: 100%;
        align-items: end;

        &__imgSection {
            padding-top: 0;
            height: 100%;
        }

        &__infoSection {
            padding-left: 7rem;
            height: 70%;
            align-items: flex-start;

            &__crewMember {
                font-size: $lg-crewName;
            }

            &__bio {
                font-size: $lg-bodyText;
                text-align: left;
                padding: 0;
            }

            > h3 {
                font-size: $lg-crewTitle;
            }
        }
    }
}